$background-form: #b2dfdb;
$nav-color: #00bfa5;

#showDoctors {
  display: none;
}

.doctor-list {
  display: none;
}

.brand-logo {
  margin-left: 20px;
}

.row {
  .search-form, .doctor-list {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: $background-form;
  }
}

.btn {
  margin-right: 20px;
  margin-bottom: 10px;
}

nav {
  .nav-wrapper {
    background-color: $nav-color;
  }
}

body {
  background-image: url("../../img/blue.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
}

main {
  flex: 1 0 auto;
}
