$background-form: #b2dfdb;

#showDoctors {
  display: none;
}

.brand-logo {
  margin-left: 20px;
}

.row {
  .search-form, .doctor-list {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: $background-form;
  }
}

.btn {
  margin-right: 20px;
  margin-bottom: 10px;
}
